<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ella Zaffiro - Esqueci Minha Senha</title>
    <link rel="stylesheet" href="../static/css/forgot_password.css">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
</head>
<body>
    <div class="background-image"></div>
    <div class="container">
        <form class="forgot-password-form" action="/forgot-password" method="post">
            <h1>Recuperar Senha</h1>
            <div class="input-group">
                <input type="email" id="forgot-email" name="forgot-email" placeholder="E-mail cadastrado" required>
            </div>
            <button type="submit">Enviar Email de Recuperação</button>
            <p class="back-to-login">Lembrou sua senha? <a href="{{ url_for('login.index_login') }}">Faça login</a></p>
        </form>
    </div>
    <script>
        window.addEventListener('load', function() {
            document.body.classList.add('loaded');
        });
    </script>
</body>
</html>
