<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Serviços Prestados</title>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/products.css">
</head>
<body>
    <header>
        <h1><i class="fas fa-briefcase"></i> Nossos Serviços</h1>
        <p>Confira nossos serviços e preços.</p>
    </header>

    <div class="hero">
        <div class="gallery-container">
            <h2>Galeria de Serviços</h2>
            <div class="gallery">
                <div class="service">
                    <img src="../static/img/pe.jpg" alt="Serviço 1">
                    <h3>Pé</h3>
                    <p class="price">R$ 25,00</p>
                </div>
                <div class="service">
                    <img src="../static/img/mao.jpg" alt="Serviço 2">
                    <h3>Mão</h3>
                    <p class="price">R$ 25,00</p>
                </div>
                <div class="service">
                    <img src="../static/img/mao1.jpg" alt="Serviço 3">
                    <h3>Pé e Mão</h3>
                    <p class="price">R$ 45,00</p>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="footer-content">
            <div class="contact">
                <h3>Contato</h3>
                <span><i class="fas fa-phone"></i> (14) 99765-9253</span>
                <span><i class="fas fa-user"></i> Mileni</span>
            </div>
        </div>
    </footer>
</body>
</html>
